<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Image Viewer</title>
<style>
  body, html {
    height: 100%;
    margin: 0;
  }

  .bg {
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
  }
</style>
</head>
<body>

<div class="bg">
  <img id="displayedImage" src="" alt="Image Viewer">
</div>

<script>
let currentImageIndex = 0;
let images = [];

function fetchImages() {
  fetch('/images')
    .then(response => response.json())
    .then(data => {
      images = data.images;
      if (!images.length) {
        setTimeout(fetchImages, 5000);
      }
    });
}

function updateImage() {
  const imageElement = document.getElementById('displayedImage');
  if (images.length > 0) {
    imageElement.src = '/image/' + images[currentImageIndex];
    currentImageIndex = (currentImageIndex + 1) % images.length;
  }
  setTimeout(updateImage, 5000); // Set to cycle every 5 seconds
}

fetchImages();
updateImage(); // Start the image update loop
</script>

</body>
</html>
